.svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.div {
    width: 860px;
    display: table;
    margin: 0;
}

.divcell {
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    font-weight: bold;
}