@font-face {
    font-family: NanumGothicCoding;
    src:local('NanumGothicCoding'), url(../fonts/NanumGothicCoding-Regular.ttf) format('truetype')
}


html {
    font-family: NanumGothicCoding;
    background-color: #F9E8F7;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}