@font-face {
    font-family: NanumGothicCoding;
    src:local('NanumGothicCoding'), url(../fonts/NanumGothicCoding-Regular.ttf) format('truetype')
}


html {
    font-family: NanumGothicCoding;
    /* background-color: #F9E8F7; */
    background-color: #1E1E24;
    color: #FFFFFC;
}

a:link {
    color: #FFFFFC;
    text-decoration: none;
}
a:visited {
    color: #FFFFFC;
    text-decoration: none;
}
a:hover {
    color: #FFFFFC;
    text-decoration: none;
}