.ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    font-size: x-large;
    font-weight: bold;
}

.li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.nav {
    text-align: center;
    width: 400px;
    margin:0 auto;
}